# Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_SECRET= 

# Expects dex-url (e.g. http://localhost:5555/dex)
AUTH_ISSUER= 

# Expects http-url (e.g. http://localhost:3001)
NEXT_PUBLIC_ROR_API_URL=

# Expects http-url (e.g. http://localhost:222000)
NEXTAUTH_URL=

# Set to true to trust the host in the authorization flow. Only set this to true if you understand the security implications.
AUTH_TRUST_HOST= 

AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=
NEXTAUTH_SECRET=

AUTH_AUDIENCE=
DEBUG=

NEXT_PUBLIC_MOCKING_ENABLED=true # Set to true to use mocking
NEXT_PUBLIC_VMS_ENABLED=true # Set to true to enable the Virtual Machines section in the sidebar
