# Added by `npx auth`. Read more: https://cli.authjs.dev
# Secret for signing authentication tokens.
AUTH_SECRET= 

# Expects dex-url (e.g. http://localhost:5555/dex)
# Your athentication issuer URL
AUTH_ISSUER=http://localhost:6556/dex
# Expects http-url (e.g. http://localhost:3001)
NEXT_PUBLIC_ROR_API_URL=http://localhost:10000
# Expects http-url (e.g. http://localhost:22200)
NEXTAUTH_URL=http://localhost:11100
# Set to true to trust the host in the authorization flow. Only set this to true if you understand the security implications.
AUTH_TRUST_HOST=true
# Client ID for authentication
AUTH_CLIENT_ID="dex.local.ror"
# Client secret for authentication set in docker-compose.yml for dex. You can generate a random string for this value, but make sure it matches the value in your dex configuration.
AUTH_CLIENT_SECRET=
# Audience for authentication, set to the same value as the client ID in your dex configuration.
AUTH_AUDIENCE="dex.local.ror"

# Set to true if you dont have the api running and want to use mocked data. Only set this to true if you understand the security implications.
NEXT_PUBLIC_MOCKING_ENABLED=false
NEXT_PUBLIC_VMS_ENABLED=true # Set to true to enable the Virtual Machines section in the sidebar
DEBUG=next-auth:*

NEXTAUTH_SECRET=
